@model List<PizzaOrderingMVCApplication.Models.CustomerPizzaDetails>
@{
    ViewData["Title"] = "PizzaDetailsPage";
}

<h1>PizzaDetailsPage</h1>
@using (Html.BeginForm("PizzaDetailsPage", "UserLogin", FormMethod.Post)) { 
    @Html.AntiForgeryToken()
    <table id="tblCustomer">
        <thead>
            <tr>
                <th>Count   </th>
                <th>PizzaName   </th>
                <th>Toppings    </th>
                <th>Qty</th>
                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].pizzaCount</td>
                    <td>@Model[i].pizzaId</td>
                    <td>
                        onion @Html.CheckBoxFor(m => Model[i].onion)<br />
                        crispCapsicum @Html.CheckBoxFor(m => Model[i].crispCapsicum)<br />
                        GrilledMushroom @Html.CheckBoxFor(m => Model[i].GrilledMushroom)
                    </td>
                    <td>@Html.TextBoxFor(d => Model[i].qty)</td>
                </tr>

            }
        </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Oder Now"/>
}
